{% extends 'catalog/base.html' %}
{% load cru %}
{% block title %}
<title>Adopt an animal</title> {% endblock %} {% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a href="">{{ animal.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Update</li>
        </ol>
      </nav>
<h1>This is the test.html</h1>

<form action="" method="post">
    {% csrf_token %}

    <h2>First Form</h2>

    {{ form| crispy }}

    <input type="submit" value="Update">
</form>
{% endblock %}