{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Adopt an animal</title> {% endblock %} {% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Adopt</li>
        </ol>
      </nav>

<div class="row justify-content-md-center">
<form action="" method="post">
    {% csrf_token %}

    {{ form| crispy }}

<h2>Adopter Details</h2>

    {{ sub_form| crispy }}

    <input type="submit" value="Adopt!">
</form>
</div>
{% endblock %}