{% extends "catalog/base.html" %} 
{% load crispy_forms_tags %}
{% block title %}
<title>Add a new Animal!</title> {% endblock %} {% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">New Animal</li>
        </ol>
      </nav>

<div class="row justify-content-md-center">
<form action="" method="post">
    {% csrf_token %}

    <h2>First Form</h2>

    {{ form| crispy }}
    {{ sub_form| crispy }}

    <input type="submit" class='btn btn-success' value="Save">
</form>
</div>
{% endblock %}