{% extends "catalog/base.html" %}
{% block title %}<title>Building View</title> {% endblock %}
{% block content %}


<h2>Cages</h2>
<h3>Occupied</h3>
{% if occupied_cages %}
{% for animal in occupied_cages %}
<ul>
    <li>{{ animal.cage }}, <a href={{animal.get_absolute_url }}>{{animal.name}}</a></li> <a href="{{ animal.cage.get_cage_url}}">Edit</a>
</ul>
{% endfor %}
{% endif %}
<h3>Vacant Cages</h3>
{% if vacant_cages %}
{% for cage in vacant_cages %}
<ul>
    <li>{{ cage }}</li> <a href="{{ cage.get_cage_url }}">Edit</a>
</ul>
{% endfor %}
{% else %}
<p>There are no vacant cages</p>
{% endif %}

<h3>Unallocated Animals</h3>

{% if unallocated_animals %}
<p>These animals have an available status but have not been allocated a cage.</p>
{% for animal in unallocated_animals %}
<ul>
    <li><a href={{animal.get_absolute_url }}>{{animal.name}}</a></li>
</ul>
{% endfor %}
{% else %}

<p>There are no animals which need allocating.</p>
{% endif %}

{% endblock %}