{% extends 'catalog/base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a href="{% url 'cage_detail' %}">Cage List</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Cage Update</li>
        </ol>
      </nav>
<br>
<div>

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Save" />

</form>
<a href="{{ building.get_cage_delete_url }}">Delete?</a>
</div>

{% endblock %}