{% extends "catalog/base.html" %}
{% load crispy_forms_tags %} {% block title %}
<title>Add a new building info!</title> {% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Create Cage</li>
    </ol>
  </nav>


{% if error %}
<div class="alert alert-danger" role="alert" >
{{ error }}
</div>
{% endif %}
<div class="row justify-content-md-center">
<h2>New Cage</h2>
</div>
<div class="row justify-content-md-center">
<form action="." method="post">
    {% csrf_token %}
    {{ form| crispy }}

    <input type="submit" class='btn btn-success' value="Create">
</form>
</div>
{% endblock %}