{% extends "catalog/base.html" %}
{% block title %}<title>Building View</title> {% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Cage List</li>
        </ol>
      </nav>

<h2>Cages</h2>

{% if occupied_cages %}
<h3>Occupied</h3>
{% for animal in occupied_cages %}
<ul>
    <li>{{ animal.cage }}, <a href={{animal.get_absolute_url }}>{{animal.name}}</a></li> <a href="{{ animal.cage.get_cage_url}}">Edit</a>
</ul>
{% endfor %}
{% endif %}

{% if vacant_cages %}
<h3>Vacant Cages</h3>
{% for cage in vacant_cages %}
<ul>
    <li>{{ cage }}</li> <a href="{{ cage.get_cage_url }}">Edit</a>
</ul>
{% endfor %}
{% else %}
<p>There are no vacant cages</p>
{% endif %}

<h3>Unallocated Animals</h3>

{% if unallocated_animals %}
<p>These animals have an available status but have not been allocated a cage.</p>
{% for animal in unallocated_animals %}
<ul>
    <li><a href={{animal.get_absolute_url }}>{{animal.name}}</a></li>
</ul>
{% endfor %}
{% else %}

<p>There are no animals which need allocating.</p>
{% endif %}

{% endblock %}