{% extends 'catalog/base.html' %}

{% block title %}
<title>Delete {{ medication }}</title>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
        <li class="breadcrumb-item "><a href="{% url 'medication_list' %}">Medication List</a></li>
        <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Medication Delete</li>
    </ol>
  </nav>
<h1> Remove Medication </h1>

<p>Are you sure you want to delete the medication: <strong>{{ medication }}</strong>?</p>

<div class="row justify-content-start">
    <div class="col-1">
<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, Delete" />
</form>
</div>
<div class="col-1">
<form action="{% url 'medication_list' %}" method="GET">
    {% csrf_token %}
    <input type="submit" action="" value="Go Back" />
  </form>
</div>
</div>
{% endblock %}