{% extends 'index/base.html' %} {% block content %}
<div class="jumbotron">
    <header>
        <h1>About Us</h1><sub><p>This website was created by mutliple people from all over the world. They dedicate some of their
                spare time each week to get this up and running!</p></sub></header>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                odio dui. </p>
            
        </div>
    </div>
</div>



{% endblock %}