{% extends 'index/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Change Your Password</title>
{% endblock %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% block content %}
<div class="row justify-content-md-center">
<form method="post">
    {% csrf_token %}
    {{ form| crispy }}
    <button type="submit">Save changes</button>
  </form>
</div>
  {% endblock %}