{% extends 'index/base.html' %} {% load crispy_forms_tags %} {% block title %}
<title>Please Login</title>
{% endblock %} {% block content %} {% if user.is_authenticated %}
<p>Your account does not have access to this page. Please log in as a user who does.</p>
{% else %}



<div class="row justify-content-md-center">
    <form action="{% url 'login' %}" method="post">


        {% csrf_token %} {{ form| crispy }}


        <input type="submit" class='btn btn-success' value="login" />
        <input type="hidden" name="next" value="{{ next }}" />


        <p>
            <a href="{% url 'password_reset' %}">Lost password?</a>
        </p>
        <p>
            If you want to sign up, click
            <a href="{% url 'signup' %}">here</a>.
        </p>
    </form>
</div>
{% endif %} {% endblock %}