{% extends 'index/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-md-center">
<h1>Reset Password</h1>
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    {% else %}
        <h3>Password Reset Failed</h3>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}