{% extends 'index/base.html' %}
{% block title %}
<title>User Profile</title>
{% endblock %}

{% block content %}

<ul>
<li><strong>Username:</strong>{{ user.username }}</li>
<li><strong>First Name:</strong>{{ user.first_name }}</li>
<li><strong>Last Name:</strong>{{ user.last_name }}</li>
<li><strong>Email:</strong>{{ user.email}}</li>
<li><strong>Active:</strong>{{ user.is_active }}</li>
<li><strong>Staff:</strong>{{ user.is_staff }}</li>
</ul>
{% if user.has_perm %}
{% else %}
<p>You do not have permission to view this.</p>
{% endif %}
  {% endblock %}