<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script> {% block title %}
  <title>Animal Shelter</title>
  {% endblock %}
</head>

<body>
  <header>

  </header>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Animal Shelter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            More Info
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'features' %}">Features</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
            <a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a>
          </div>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Animals
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'home_page' %}">Dashboard</a>
            <a class="dropdown-item" href="{% url 'animal_create'%}">Add a New Animal</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'adopted_animals' %}">Adopted Animals</a>
          </div>
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Shelter
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'cage_detail' %}">Cage List</a>
                <a class="dropdown-item" href="{% url 'cage_create' %}">Add a cage</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'allergy_list' %}">Allergies List</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'medication_list'%}">Medication List</a>
                <div class="dropdown-divider"></div>
              </div>
          {% endif %}

      </ul>
      <li class="nav-item active">
        <!--If statement to change what is shown depending on if the user is logged in or not
        If they are, it shows either to login or logout and the next part will return the user
        back to the page-->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle btn btn-outline-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ user.username }}
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_profile'%}">My Profile</a>
          <a class="dropdown-item" href="{% url 'password_update' %}">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="{% url 'logout' %}">  Logout</a>
        </div>
        {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}?next={{request.path}}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
          </form>
        {% endif %}
      </li>
    </div>
  </nav>
</div>
  <div class='container'>
    {% block content %} {% endblock %}
  </div>
  <footer>

  </footer>
</body>

</html>