{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'home_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page" aria-label="breadcrumb">Animal Update</li>
        </ol>
      </nav>
<div class="row justify-content-md-center">
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form| crispy }}
    </table>
    <input type="submit" class= 'btn btn-success' value="Update" />

</form>
</div>

{% endblock %}